<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dew2</display-name>
  <welcome-file-list>
    <welcome-file>dew2.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HolaMundo</display-name>
    <servlet-name>HolaMundo</servlet-name>
    <servlet-class>HolaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundo</servlet-name>
    <url-pattern>/HolaMundo</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Context</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint><role-name>mirol</role-name></auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config><auth-method>BASIC</auth-method><realm-name>Proteccion de dew2</realm-name></login-config>
  <servlet>
    <description></description>
    <display-name>Pagina_Literal</display-name>
    <servlet-name>Pagina_Literal</servlet-name>
    <servlet-class>Pagina_Literal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagina_Literal</servlet-name>
    <url-pattern>/Pagina_Literal</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>carrito</display-name>
    <servlet-name>carrito</servlet-name>
    <servlet-class>carrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carrito</servlet-name>
    <url-pattern>/carrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>carrito2</display-name>
    <servlet-name>carrito2</servlet-name>
    <servlet-class>carrito2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carrito2</servlet-name>
    <url-pattern>/carrito2</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Opciones</display-name>
    <servlet-name>Opciones</servlet-name>
    <servlet-class>Opciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tratar_opciones</servlet-name>
    <url-pattern>/Opciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ejercicioInvocacion</display-name>
    <servlet-name>ejercicioInvocacion</servlet-name>
    <servlet-class>ejercicioInvocacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ejercicioInvocacion</servlet-name>
    <url-pattern>/ejercicioInvocacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>miniteclado</display-name>
    <servlet-name>miniteclado</servlet-name>
    <servlet-class>miniteclado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>miniteclado</servlet-name>
    <url-pattern>/miniteclado</url-pattern>
  </servlet-mapping>
</web-app>